<div class="flex">
	<table class="table--no-head">
		<tbody>
			<tr>
				<td>prihlášený uživatel</td>
				<td>
					<span>{{user.firstName}}</span>
					<span class="display--block margin--v-8">Hypoteční centrum, Praha 1</span>
				</td>
			</tr>
		</tbody>
	</table>
	<img class="flex--aln-self-start margin--left-auto" src="assets/img/cs-logo.svg" />
  </div>

	<div class="tabs margin--top-32">
		<a href="../index.html" class="tab tab--active">nastavení kontrol limitů ČNB</a>
	</div>
	<div id="paper-with-tabs" class="paper paper--white">

		<form action="/action_page.php">
			<div class="paper paper--blue flex flex--wrap flex--justify-space-b">
				<table class="table--no-head">
					<tbody>
						<tr>
							<td><input type="checkbox"></td>
							<td>LTV > 80%</td>
						</tr>
						<tr>
							<td><input type="checkbox"></td>
							<td>DTI > 40%</td>
						</tr>
						<tr>
							<td><input type="checkbox"></td>
							<td>DSTI > 30%</td>
						</tr>
                        <tr>
              <td>
                <input type="submit" value="Submit">
              </td>
              <td>
              </td>
            </tr>
					</tbody>
				</table>
			</div>
		</form>

	</div>